#header{
    border-bottom: solid 1px rgb(144, 142, 142);
}

.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}

.header__wrapper img{
    height: 40px;
}

#posts{
    width: 400px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.postHeader__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postHeader__wrapper img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: black;
}

.logo{
    background-image: url("../images/logo.jpg");
    background-size: cover;
    background-repeat: no-repeat, repeat, no-repeat;
    background-position: center, 0 0, right bottom;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(52, 51, 51);
    margin-bottom: 5px;
}

.posts__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.posts__wrapper img{
    width: 100%;
}

.postsDetail__wrapper{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

#footer{
    border-top: solid 1px rgb(144, 142, 142);
}

.footer__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}

.footer__wrapper img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: black;
}

.comment-icon{
    padding: 0px 10px;
}